@model Instructor
<table class="table table-border">
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.Image</td>
        <td><img src="/images/@Model.Image"></td>

    </tr>
</table>