<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(/images/me.jpeg);"></div>
	  				<h3>Mohamed Attallah</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
           <li>
            <a href="/home/privacy"><span class="fa fa-cog mr-3"></span> Privacy</a>
          </li>

          <li>
            <a href="/Instructor"><span class="mr-3"></span> Instructor</a>
          </li>
          <li>
            <a href="/Course"><span class=" mr-3"></span>Courses </a>
          </li>

        </ul>

    	</nav>